*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    --primary: rgb(15, 1, 218);
    --secondary: rgb(158, 33, 241);

    font-family: 'poppins', 'open sans', sans-serif;
    background-color: rgb(231, 236, 240);
    display: flex;
    justify-content: center;
    padding: 20px;
}
.card{
    background-color: snow;
    width: 450px;
    height: 430px;
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem;
    border-radius: 7px;
    gap: 0.5rem;
}
h2{
    font-size: 1.5rem;
}
.first{
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.856);
    padding-top: 0.25rem;
}
.second{
    color: rgb(9, 156, 9);
    font-size: 0.75rem;
}
.third{
    font-size: 0.85rem;
    color: rgba(0, 0, 0, 0.719);
    padding-top: 0.35rem;
}
.group{
    display: flex;
    flex-direction: column;
    padding-bottom: 0.75rem;
}
.field {
    padding: 0.3rem 1rem;
    border-radius: 6px;
    border-color: rgba(0, 0, 0, 0.11);
    border-width: 0.01rem;
}
input:focus{
    outline: 0.02rem solid rgba(0, 0, 0, 0.329);
    border: 0.15rem solid rgba(219, 189, 231, 0.712);
}
input::placeholder{
    color: black;
}
button{
    width: 100%;
    color: white;
    cursor: pointer;
}
button:hover{
    opacity: 0.7;
}
.activate{
    padding: 0.3rem 1rem;
    border-radius: 0.3rem;
    border: none;
    background-color: var(--primary);
}
.fourth{
    font-size: 0.83rem;
    color: rgba(0, 0, 0, 0.623);
    padding-bottom: 0.05rem;
}
.or{
    text-align: center;
    font-size: 0.85rem;
}
.manual{
    padding: 0.35rem 1rem;
    border-radius: 0.3rem;
    border: none;
    background-color: var(--secondary);
}
.pay{
    padding-bottom: 1rem;
    padding-top: 0.75rem;
}
a{
    font-size: 0.85rem;
    color: rgba(4, 0, 26, 0.986);
    font-weight: 400;

}
a:hover{
    opacity: 0.8;
}
.fifth{
    font-size: 0.85rem;
    color: rgba(0, 0, 0, 0.836);
    padding-top: 0.75rem;
}